body {
font-family: sans-serif;
background-color: rgb(230, 99, 125);
padding: 30px;
text-align: center;
}
h1 {
    color: rgb(121, 7, 30);
}
h1+p {
    background-color:rgb(255, 0, 64);
    padding: 10px 20px;
    border-radius: 8px;
    color:  rgb(236, 158, 174); 
}